.navbar-custom-container{
  position: fixed;
  z-index: 10;
  right: 0;
  h6{
    display: inline-block;
    margin: 20px;
    a{
      text-decoration: none;
      color: rgb(169, 174, 197);
    }
  }
}

@media only screen and (max-width: 768px){
  .navbar-custom-container{
    display: none;
  }
}