.pomodoro{
  background: #333;
  width: 500px;
  margin: 0 auto;
  color: rgb(211, 211, 211);
  opacity: 1;
  z-index: 10;
}
.pomodoroContainer{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 55;
  background: linear-gradient(rgba(3, 52, 65, 0.753) , rgba(43, 29, 24, 0.795));
}
.pBtn{
  padding: 10px;
  background: #333;
  border: 1px solid rgb(30, 34, 30);
}
.pBtn:hover{
  background: rgb(81, 153, 175);
}
.pInner{
  padding: 10px;
}
.pBtnLower{
  padding: 10px;
  background: #333;
  border: 1px solid rgb(30, 34, 30);
}
.pBtnPlayPause{
  color: rgb(80, 235, 150);
}
.pBtnPlayPause:hover{
  background: rgb(39, 182, 103);
}
.pBtnReset{
  color: rgb(156, 61, 55);
}
.pBtnReset:hover{
  background: rgb(116, 69, 65);
}
.pBtnExit:hover{
  opacity: .5;
}
.pBtnLink:hover + .pomodoro{
  color: white;
}
