.nav-desktop{
  z-index: 50;
  position: absolute;
}
.txtNav{
  color: white !important;
  text-align: center;
}
.txtNav:hover{
  background: rgba(39, 4, 4, 0.664);
}
.mainNav{
  color: rgb(226, 226, 226) !important;
  z-index: 49;
  display: none !important;
  position: fixed !important;
  width: 100%;
  background: rgba(0, 0, 0, 0.199);
}
.nav-container{
  width: 100vw;
  position: absolute;
  z-index: 6;
  text-align: right;
  height: 80px;
}
.navlinks{
  float: right;
  margin-right: 20px;
}
.navlinks a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.705);
  padding: 20px;
}
.navlinks a:hover{
  color: white;
}
.nav-container{
  width: 100vw;
  position: absolute;
  z-index: 6;
  text-align: right;
  height: 80px;
}
.toggle-btn-custom{
  background: rgba(0, 0, 0, 0.247) !important;
}

@media only screen and (max-width: 768px){
  .navlinks{
      display: none !important;
  }
  .menu-container{
      display: block;
  }
  .mainNav{
    display: block !important;
  }

}