html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  background: #E4DFDA;
}

main{
  width: 100%;
}
.header-container{
  background: #bf8edf;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.navbar{
  float: right;
  margin-right: 20px;
}
.navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.705);
  padding: 20px;
}
.navbar a:hover{
  color: white;
}
.nav-container{
  width: 100vw;
  position: absolute;
  z-index: 6;
  text-align: right;
  height: 80px;
}
.mobile-menu{
  width: 100vw;
  padding: 0;
  margin: 0;
}
.mobile-menu li{
  width: 100vw;
  list-style: none;
}
.lnk li{
  color: white;
  width:100%;
  margin: 0 auto;
  line-height: 80px;
}
.lnk{
  text-decoration: none;
  text-align: center;
}
.lnk li:hover{
  background: #7EFFA7;
  transition: .5s;
}
.burger-btn{
  z-index: 5;
}
.menu-container{
  position: fixed;
  top: -325px;
  display: none;
  transition: .5s;
}
/*Menu animation starts here*/
.menu-bars-container{
  display: inline-block;
  cursor: pointer;
  width: 80px;
  padding: 20px;
  transition: .5s;
  float: left;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(231, 231, 231);
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.change-menu{
  top: 0;
}
.change-menu{
  background: rgba(0, 0, 0, 0.479);
}


/*End of Menu animation*/

.left-part, .right-part{
  position: absolute;
  z-index: 0;
}
.right-part{
  right: 0;
}
.gradient{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.ep-logo{
  width: 300px;
}
.logo-position{
  width: 100%;
  height: 100vh;
  z-index:11;
}
.logo-container{
  width: 300px;
  z-index: 3;
}

.logo-container h4{
  text-align: left;
  color: rgba(255, 255, 255, 0.336);
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.logo-container h4:nth-child(3){
  text-align: right;
}


.illumin-lines{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  
}
.line-right{
  position: absolute;
  color: #fff;
/*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  */
  background: linear-gradient(-45deg, #ff194b42 1%,#ff191959 33%,#ffe314 70%,#f8f192c4 100%);
  background-size: 400% 400%;
  opacity: .5;
  
  -webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  width: 100%;
  height: 100%;
  /*-webkit-clip-path: polygon(0 63%, 59% 25%, 59% 0, 65% 0%, 65% 25%, 100% 63%, 100% 32%, 65% 32%, 65% 100%, 59% 100%, 59% 32%, 0 32%);
  */
  clip-path: polygon(0 63%, 65% 63%, 65% 0, 65.1% 0%, 65.1% 63%, 100% 63%, 100% 63.2%, 65.1% 63.2%, 65.1% 100%, 65% 100%, 65% 63.2%, 0 63.2%);
}
@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}


/*PORTFOLIO STARTS HERE*/
#portfolio{
  text-align: center;
  line-height: 100px;
}
.portfolio{
  
}



/*FOOTER STARTS HERE*/

footer{
  background: #bf8edf;
  color: white;
  text-align: center;
}
footer img{
  margin-right: 20px;
}
.footer-inner{
  background-image: linear-gradient(225deg, #ff7b003d 0%, #2a0a5983 100%);
  
}
.resume{
  font-size: 13px;
  color: white;
}


@media only screen and (max-width: 720px){
  .navbar{
      display: none;
  }
  .menu-container{
      display: block;
  }

}
