.drum-pad{
  width: 70px;
  height: 100px;
  margin: 2px;
  font-size: 32px;
  color: red;
  background: #81A0A3;
  border-radius: 10px;
}
.drum-pad:nth-child(5){
  margin-left: 20px;
}

#displayDrum{
  font-size: 24px;
}
#drum-machine{
  width: 300px;
  margin: 0 auto;
}